// Fonts
@import url('https://fonts.bunny.net/css?family=advent-pro:100');
@import url('https://fonts.bunny.net/css?family=bowlby-one-sc:400');


// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* Font for the logo */
.muppet-font {
    font-family: 'Ultra', sans-serif;
}

/* Font for the rest of the webpage */
body {
    font-family: 'advent-pro', sans-serif;
    background-image: url('../../public/img/muppet-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}